<%- include('../includes/user-dashboard/Head.ejs') %>

    </head>

    <body data-layout="detached" data-topbar="colored" style="background-color: #222831;">

        <!-- <%// if(successAddProduct=='success-add-product' ) { %>
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'محصول با موفقیت ذخیره شد'
                })
            </script> -->
            <%// } %> 

                <div class="container-fluid" style="background-color: #222831;">
                    <!-- Begin page -->
                    <div id="layout-wrapper">

                        <!-- Header -->
                        <%- include('../includes/user-dashboard/Header.ejs') %>

                            <!-- End Header -->

                            <!-- Menu  -->
                            <%- include('../includes/user-dashboard/Menu.ejs') %>

                                <!-- End Menu  -->

                                <!-- Main -->
                                <div class="main-content">
                                    <div class="page-content">
                                        <div class="row">
                                            <div class="col-12">
                                                <div
                                                    class="page-title-box d-flex align-items-center justify-content-between">
                                                    <h2 class="page-title mb-0  font-weight-bold" style="font-size: 22px;"> افزودن آگهی</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card "
                                                    style="background-color: #31363F; border-radius: 20px;">
                                                    <div class="card-body rounded-4"
                                                        style="background-color: #31363F; border-radius: 20px;">
                                                        <form action="/ad" method="post"
                                                            enctype="multipart/form-data">

                                                            <div class="row ">
                                                                <% if(validationError.length !==0 ){ %>
                                                                    <div class="col-12"
                                                                        style="width: 100%;text-align:center; justify-content: center; align-items: center; padding: 10 10;">
                                                                        <div class="alert alert-danger" style="width:99%;"
                                                                            role="alert">
                                                                            <span class="font-weight-bold font-vazirmatn">
                                                                                <%= validationError%>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <% } %>
                                                                <% if(Error.length !==0 ){ %>
                                                                    <div class="col-12"
                                                                        style="width: 100%;text-align:center; justify-content: center; align-items: center; padding: 10 10;">
                                                                        <div class="alert alert-danger" style="width:99%;"
                                                                            role="alert">
                                                                            <span class="font-weight-bold font-vazirmatn">
                                                                                <%= Error%>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <% } %>
                                                            </div>
                                                            <div class="row">

                                                                <div class="form-group col-12 text-white" >
                                                                    <p for="formname" class="fontController font-weight-bold">عنوان آگهی</p>
                                                                    <input type="text"
                                                                        class="text-white inputDesign form-control form-control-lg text-white font-weight-bold  font-size-16"id="
                                                                        title" name="title"
                                                                        placeholder="عنوان آگهی را وارد کنید" required>
                                                                </div>

                                                            </div>
                                                            <hr>

                                                            <div class="row">

                                                                <div class="form-group col-md-4 text-white">
<!-- 
                                                                    <label for="formname" class="fontController font-weight-medium">برند خودرو </label>

                                                                    <select id="brand" name="brand"
                                                                        class="text-white inputDesign  form-control font-weight-bold  font-size-16">
                                                                        <option value="pride">پراید</option>
                                                                        <option value="peugeot">پژو</option>
                                                                        <option value="samand">سمند</option>
                                                                        <option value="tiba">تیبا</option>
                                                                        <option value="quik">کوییک</option>
                                                                        <option value="renault">رنو</option>
                                                                        <option value="bmw">BMW </option>
                                                                        <option value="benz">Benz</option>

                                                                    </select> -->
                                                                    <label for="formname" class="fontController font-weight-medium">برند خودرو </label>
                                                                    <input list="brandlist" type="text" name="brand" id="brand" class="text-white inputDesign  form-control font-weight-bold  font-size-16" placeholder="برند خودروی خود را انتخاب کنید"required>
                                                                    <datalist id="brandlist">
                                                                            <option value="pride">پراید</option>
                                                                            <option value="peugeot">پژو</option>
                                                                            <option value="samand">سمند</option>
                                                                            <option value="tiba">تیبا</option>
                                                                            <option value="quik">کوییک</option>
                                                                            <option value="renault">رنو</option>
                                                                            <option value="bmw"> </option>
                                                                            <option value="benz"></option>
                                                                    </datalist>

                                                                </div>
                                                                <div class="form-group col-md-4 text-white">
                                                                    <label for="formname" class="fontController font-weight-medium">سال تولید </label>
                                                                    <input type="number"
                                                                        class="text-white inputDesign  form-control font-weight-bold  font-size-16"
                                                                        id="p_year" name="p_year"
                                                                        placeholder="سال تولید خودرو را وارد کنید"
                                                                        required>
                                                                </div>

                                                                <div class="form-group col-md-4 text-white">
                                                                    <label for="formname" class="fontController font-weight-medium">رنگ </label>
                                                                    <input type="text"
                                                                        class="text-white inputDesign  form-control font-weight-bold  font-size-16"
                                                                        id="color" name="color"
                                                                        placeholder=" رنگ خودرو را وارد کنید"
                                                                        required>
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="form-group col-md-4 text-white ">
                                                                    <label for="formname" class="fontController font-weight-medium"> کارکرد (کیلومتر) </label>
                                                                    <input type="number" name="operation" id="operation"
                                                                        class="text-white inputDesign  form-control font-weight-bold  font-size-16"
                                                                        placeholder="میزان کارکرد خودرو" required>
                                                                </div>
                                                                <div class="form-group col-md-4 text-white">
                                                                    <label for="formname" class="fontController font-weight-medium">  قیمت خودرو (تومان)  </label>
                                                                    <input type="text"
                                                                        onkeyup="separateNum(this.value,this);"
                                                                        class="text-white inputDesign  form-control font-weight-bold  font-size-16"
                                                                        name="price" id="price"
                                                                        placeholder=" قیمت خودرو را وارد کنید" required>
                                                                </div>

                                                                <div class="form-group col-md-4 text-white">
                                                                    <label for="formname" class="fontController font-weight-medium">  تصویر خودرو <span class="text-danger" style="font-size: 15px;">( JPG / JPEG / PNG ) </span>  </label>
                                                                    <input type="file" name="image" id="image"
                                                                        class="form-control text-white inputDesign font-weight-bold  font-size-16" >
                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="form-group col-6 col-lg-4 mb-3 text-white">
                                                                    <h5 class=" mb-3 fontController text-white">وضعیت موتور </h5>

                                                                    <div class="custom-control custom-checkbox mb-2">
                                                                        <input type="checkbox" class="custom-control-input font-weight-bold  font-size-16" id="engine_check" name="engine_check" value="false">
                                                                        <label class="custom-control-label  " style="font-size: 14px;"for="engine_check">تعمیر شده </label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group col-6 col-lg-4 mb-3 text-white">
                                                                    <h5 class=" mb-3 fontController text-white">وضعیت گیربکس </h5>

                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input inputDesign font-weight-bold  font-size-16" id="gearbox_check" name="gearbox_check" value="false">
                                                                        <label class="custom-control-label  " style="font-size: 14px;" for="gearbox_check"> تعمیر شده</label>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                            <div class="row">

                                                                <div class="form-group col-md-12 text-white">
                                                                    <label for="description " class="fontController">توضیحاتی در مورد خودرو</label>
                                                                    <textarea id="description" class="form-control text-white inputDesign"
                                                                        name="description" rows="6"></textarea>
                                                                </div>
                                                                <!-- <div class="form-group col-md-6 ">

                                                            <label for="imgp">تصویر محصول  </label>
                                                            <img id="imgp" class="form-control"  width="200" height="250" alt="تصویر محصول">
                                                    </div> -->


                                                            </div>
                                                            <button type="submit" class="btn font-weight-bold" style="font-size: 15px; background: rgb(249 115 22 / 1); color: white;">ثبت
                                                                آگهی</button>



                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <%- include('../includes/user-dashboard/Footer.ejs') %>

                                </div>

                    </div>


                </div>
                <!-- end container-fluid -->

                <!-- Right Sidebar -->
                <div class="right-bar">
                    <div data-simplebar class="h-100">
                        <div class="rightbar-title px-3 py-4">
                            <a href="javascript:void(0);" class="right-bar-toggle float-right">
                                <i class="mdi mdi-close noti-icon"></i>
                            </a>
                            <h5 class="m-0">تنظیمات</h5>
                        </div>


                        <hr class="mt-0">
                        <h6 class="text-center mb-0">انتخاب طرح</h6>

                        <div class="p-4">
                            <div class="mb-2">
                                <img src="#"
                                    class="img-fluid img-thumbnail" alt="">
                            </div>
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch"
                                    checked>
                                <label class="custom-control-label" for="light-mode-switch">طرح روشن</label>
                            </div>

                            <div class="mb-2">
                                <img src="#"
                                    class="img-fluid img-thumbnail" alt="">
                            </div>
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch"
                                    data-bsstyle="/assets/css/bootstrap-dark.min.css"
                                    data-appstyle="/assets/css/app-dark.css">
                                <label class="custom-control-label" for="dark-mode-switch">طرح تیره</label>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /Right-bar -->

                <!-- Right bar overlay-->
                <!-- <div class="rightbar-overlay"></div> -->


    </body>
    <script>


        function separateNum(value, input) {
            /* seprate number input 3 number */
            var nStr = value + '';
            nStr = nStr.replace(/\,/g, "");
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            if (input !== undefined) {

                input.value = x1 + x2;
            } else {
                return x1 + x2;
            }
        }
    </script>

    <%- include('../includes/user-dashboard/End.ejs') %>

