<%- include('../includes/user-dashboard/Head') %>


    </head>

    <body data-layout="detached" data-topbar="colored" style="background-color: #222831;"
        onload="separateNum(document.getElementById('price').value, document.getElementById('price'))">


        <div class="container-fluid">
            <!-- Begin page -->
            <div id="layout-wrapper">

                <!-- Header -->
                <%- include('../includes/user-dashboard/Header') %>

                    <!-- End Header -->

                    <!-- Menu  -->
                    <%- include('../includes/user-dashboard/Menu') %>

                        <!-- End Menu  -->

                        <!-- Main -->
                        <div class="main-content">
                            <div class="page-content">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box d-flex align-items-center justify-content-between">
                                            <p class="page-title mb-0 font-size-20">ویرایش آگهی : <%- ad.title %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card " style="background-color: #31363F; border-radius: 20px;">
                                            <div class="card-body rounded-4"
                                                style="background-color: #31363F; border-radius: 20px;">
                                                <% if(ad) {%>
                                                    <form action="#" method="post" enctype="multipart/form-data">
                                                        <div class="row">

                                                            <div class="form-group col-12 text-white">
                                                                <p for="formname"
                                                                    class="fontController  font-weight-bold">عنوان آگهی
                                                                </p>
                                                                <input type="hidden" id="id" name="id" value="<%= ad.id %>">
                                                                <input type="text"
                                                                    class="text-white inputDesign form-control text-white font-weight-bold "
                                                                    id="title" name="title" value="<%= ad.title %>"
                                                                    required>
                                                            </div>

                                                        </div>
                                                        <hr>

                                                        <div class="row">

                                                            <div class="form-group col-md-4 text-white">
                                                                <label for="formname"
                                                                    class="fontController font-weight-medium">برند خودرو
                                                                </label>
                                                                <input list="brandlist" type="text" name="brand"
                                                                    id="brand"
                                                                    class="text-white inputDesign  form-control font-weight-bold  font-size-16"
                                                                    value="<%= ad.brand %>" required>
                                                                <datalist id="brandlist">
                                                                    <option value="pride">پراید</option>
                                                                    <option value="peugeot">پژو</option>
                                                                    <option value="samand">سمند</option>
                                                                    <option value="tiba">تیبا</option>
                                                                    <option value="quik">کوییک</option>
                                                                    <option value="renault">رنو</option>
                                                                    <option value="bmw"> </option>
                                                                    <option value="benz"></option>
                                                                </datalist>

                                                            </div>
                                                            <div class="form-group col-md-4 text-white">
                                                                <label for="formname"
                                                                    class="fontController font-weight-medium">سال تولید
                                                                </label>
                                                                <input type="number"
                                                                    class="text-white inputDesign  form-control font-weight-bold  font-size-16"
                                                                    id="year" name="year" value="<%= ad.p_year %>"
                                                                    required>
                                                            </div>

                                                            <div class="form-group col-md-4 text-white">
                                                                <label for="formname"
                                                                    class="fontController font-weight-medium">رنگ
                                                                </label>
                                                                <input type="text"
                                                                    class="text-white inputDesign   form-control font-weight-bold  font-size-16"
                                                                    id="color" name="color" value="<%= ad.color %>"
                                                                    required>
                                                            </div>

                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-4 text-white ">
                                                                <label for="formname"
                                                                    class="fontController font-weight-medium"> کارکرد
                                                                    (کیلومتر) </label>
                                                                <input type="number" name="operation" id="operation"
                                                                    class="text-white inputDesign   form-control font-weight-bold  font-size-16"
                                                                    value="<%= ad.operation %>" required>
                                                            </div>
                                                            <div class="form-group col-md-4 text-white">
                                                                <label for="formname"
                                                                    class="fontController font-weight-medium"> قیمت
                                                                    خودرو (تومان) </label>
                                                                <input type="text"
                                                                    onkeyup="separateNum(this.value,this);"
                                                                    class="text-white inputDesign   form-control font-weight-bold  font-size-16"
                                                                    name="price" id="price" value="<%= ad.price %>"
                                                                    required>
                                                            </div>

                                                            <div class="form-group col-md-4 text-white">
                                                                <label for="formname"
                                                                    class="fontController font-weight-medium"> تصویر
                                                                    خودرو </label>
                                                                <input type="file" name="image" id="image"
                                                                    class="form-control text-white inputDesign  form-control font-weight-bold  font-size-16"
                                                                    required>
                                                            </div>

                                                        </div>

                                                        <div class="row">

                                                            <div class="form-group col-md-4 col-6 mb-3 text-white">
                                                                <h5 class="fontController text-white mb-3 ">وضعیت موتور
                                                                </h5>

                                                                <div class="custom-control custom-checkbox mb-2">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="engine_check" name="engine_check"
                                                                        <%= ad.engine_check === 'false' ? 'checked' : '' %>>
                                                                    <label class="custom-control-label"
                                                                        style="font-size: 14px;"
                                                                        for="engine_check">تعمیر شده </label>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-md-4 col-6 mb-3 text-white">
                                                                <h5 class="fontController text-white mb-3">وضعیت گیربکس
                                                                </h5>

                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="gearbox_check" name="gearbox_check"
                                                                        <%= ad.gearbox_check === 'false' ? 'checked' : '' %>>
                                                                    <label class="custom-control-label"
                                                                        style="font-size: 14px;" for="gearbox_check">
                                                                        تعمیر شده</label>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="row align-items-center">
                                                            <div class="form-group col-md-5 text-center">
                                                                <br>
                                                                <% console.log(ad.image); %>
                                                                <img src="<%= ad.image?.location ?? 'https://test-object-storage.storage.c2.liara.space/image-notfound.jpg' %>" alt="عکس  محصول"
                                                                    width="300" height="300">
                                                            </div>
                                                            <div
                                                                class="form-group col-md-7 text-white justify-content-center align-items-center font-size-16">
                                                                <label for="description" class="fontController">توضیحات
                                                                    خودرو</label>
                                                                <textarea id="description"
                                                                    class="form-control  text-white inputDesign"
                                                                    name="description"
                                                                    rows="7"><%=ad.description %></textarea>
                                                            </div>




                                                        </div>
                                                        <button type="submit" class="btn "
                                                            style="background-color: #2c6904; color: white; font-weight: 700;">ویرایش
                                                            آگهی</button>
                                                        <a href="/myads" class="btn"
                                                            style="background-color: #dd2e16; color: white; font-weight: 700;">انصراف</a>



                                                    </form>
                                                <% } else {%>
                                                    <div class="row">
                                                        <div class="col-12"
                                                            style="width: 100%;text-align:center; justify-content: center; align-items: center; padding: 10 10;">
                                                            <div class="alert alert-danger"
                                                                style="width:99%;"
                                                                role="alert">
                                                                <span
                                                                    class="font-weight-bold font-vazirmatn">
                                                                    هیچ آگهی ای ثبت نشده
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <%- include('../includes/user-dashboard/Footer') %>

                        </div>

            </div>


        </div>
        <!-- end container-fluid -->

        <!-- Right Sidebar -->
        <div class="right-bar">
            <div data-simplebar class="h-100">
                <div class="rightbar-title px-3 py-4">
                    <a href="javascript:void(0);" class="right-bar-toggle float-right">
                        <i class="mdi mdi-close noti-icon"></i>
                    </a>
                    <h5 class="m-0">سوسانو</h5>
                </div>

                <!-- Settings -->
                <hr class="mt-0">
                <h6 class="text-center mb-0">انتخاب طرح</h6>

                <div class="p-4">
                    <div class="mb-2">
                        <img src="#" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-3">
                        <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked>
                        <label class="custom-control-label" for="light-mode-switch">طرح روشن</label>
                    </div>

                    <div class="mb-2">
                        <img src="#" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="custom-control custom-switch mb-3">
                        <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch"
                            data-bsstyle="/assets/css/bootstrap-dark.min.css" data-appstyle="/assets/css/app-dark.css">
                        <label class="custom-control-label" for="dark-mode-switch">طرح تیره</label>
                    </div>
                </div>

            </div>
            <!-- end slimscroll-menu-->
        </div>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>


    </body>
    <script>


        function separateNum(value, input) {
            /* seprate number input 3 number */
            var nStr = value + '';
            nStr = nStr.replace(/\,/g, "");
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            if (input !== undefined) {

                input.value = x1 + x2;
            } else {
                return x1 + x2;
            }
        }
    </script>
    <%- include('../includes/user-dashboard/End') %>

        </html>